:root{
    /* ------------------- Primary ---------- */
    --cyan : hsl(179, 62%, 43%);
    --Bright__Yellow: hsl(71, 73%, 54%);

    /* ------------------- Neutral ------------ */
    --Light__Gray: hsl(204, 43%, 93%);
    --Grayish__Blue : hsl(218, 22%, 67%);

    /* ------------- Typography ---------------- */
    --fSize : 1.6rem;
    --fFamily: 'Karla', sans-serif;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
p{
    margin-top: 0;
}

h1,
h2,
p{
    line-height:1;
}

body{
    margin: 0;
    padding: 0;
}

.product__content{
    display: grid;
}