:root{
    /* ------------------- Primary ---------- */
    --cyan : hsl(179, 62%, 43%);
    --Bright__Yellow: hsl(71, 73%, 54%);

    /* ------------------- Neutral ------------ */
    --Light__Gray: hsl(204, 43%, 93%);
    --Grayish__Blue : hsl(218, 22%, 67%);

    /* ------------- Typography ---------------- */
    --fSize : 1.6rem;
    --fFamily: 'Karla', sans-serif;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--Light__Gray);
}

/* *,
*::before,
*::after{
    box-sizing: inherit;
} */

h1,
h2,
p{
    margin-top: 0;
}

h1,
h2,
p{
    line-height:1;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fFamily);
    display: grid;
    place-items: center;
    
}

.product__content{
    
    margin: 72px auto;
    width: 310px;
    border-radius:8px;
    overflow: hidden;
}

.product__heading{
    padding: 24px;
    margin-bottom: 0;
    background-color: #fff;
}

.product__heading h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--cyan);

}

.product__heading h2{
    margin-top: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Bright__Yellow);
}

.product__heading p{
    color: var(--Grayish__Blue);
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 16px;
   margin-bottom: 0;
    
}

.Monthly__subscription{
    padding: 24px;

    background-color: rgba(42, 179, 177, 1) ;
}


.Monthly h1{
    font-size: 1.6rem;
    color : #fff;
    font-weight: 700;
    /* margin-top: 24px; */
}

.Monthly p{

    font-weight: 700;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 0;
}

.Monthly p span{
   
    font-weight: 400;
    font-size: 1.6rem;
}

.Monthly p:nth-last-of-type(1) {
  
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 26px;
}

button{
   background-color: var(--Bright__Yellow);
   height: 48px;
   color: #fff;
   font-weight: 700;
   width: 265px;
   border: 0;
   border-radius: 2px; 
}

.background{
    background-color: rgb(74, 190, 188) ;
    padding: 24px;
}



.why__us h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.why__us p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    margin-bottom: 0;
}

@media(min-width:40.7em) and (max-width:90em){
    .product__content{
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        width: 635px;
       
    }

    .product__heading{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
     

    }
    .background{
        grid-row-start:2 ;
    }

    .Monthly__subscription{
        grid-row-start: 2;

    }

    

}